.svTable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    user-select: none;

    .svTableCell {
        padding: 0 0 0 8px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        & > * { // Cell-part.
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > * + * { margin-left: 6px; } // Cell-part.
    }

    // We can to avoid a line-through on the icon which is a <div>
    // However, targeting <span> is an abstraction break.
    .svTableRowItem.svLineThrough > .svTableCell > span {
        text-decoration: line-through;
        opacity: 0.5;
    }

    .svTableHeader {
        display: grid;
        grid-auto-rows: 20px;
        color: rgb(139, 139, 139);
        background-color: var(--vscode-editor-background);
        position: sticky;
        top: 0;
        z-index: 10;
        font-size: 10px; // Reduced font size
        line-height: 18px; // Adjusted line height
        & > * { // Cell.
            position: relative; // For resize handle.
            padding: 1px 4px; // Minimal padding
            display: flex;
            align-items: center;
            &:hover {
                background-color: var(--vscode-list-hoverBackground);
                z-index: 11; // Ensure hover is above other cells
            }
        }
    }

    .svTableBody {
        flex: 1 1;
        display: grid;
        grid-auto-rows: 22px;

        .svTableRow {
            grid-column: 1 / -1;
        }

        .svTableRowGroup {
            display: flex;
        }

        .svTableRowItem {
            display: grid;
            grid-template-columns: auto 1fr;
        }

        // Closely related to svDetailsCodeflow.
        & {
            .svTableRow:hover { background-color: var(--vscode-list-hoverBackground); }
        }
        &.svSelected {
            .svTableRow.svItemSelected { background: var(--vscode-list-inactiveSelectionBackground); }
        }
        &.svSelected:focus {
            outline: none !important;
            .svTableRow.svItemSelected { background: var(--vscode-list-activeSelectionBackground); }
        }
    }
}
